<ion-content [class.dark-mode]="isDarkMode">
  <div class="container">
    <ion-button fill="clear" class="theme-toggle" (click)="toggleTheme()">
      <ion-icon [name]="isDarkMode ? icons.sunny : icons.moon"></ion-icon>
    </ion-button>
    <div class="welcome-box">
      <img src="/assets/icon/favicon.png" alt="RegistrApp Logo" class="logo" />
      <h1>Bienvenido a RegistrApp</h1>
      <p>Regístrate o inicia sesión para continuar</p>
      <ion-button expand="block" (click)="navigate('/login')">
        <ion-icon [name]="icons.logIn"></ion-icon> Iniciar Sesión
      </ion-button>
      <ion-button expand="block" fill="outline" (click)="navigate('/registrarse')">
        <ion-icon [name]="icons.personAdd"></ion-icon> Registrarse
      </ion-button>
      <a href="/recuperar" class="forgot-password">
        <ion-icon [name]="icons.key"></ion-icon> ¿Olvidaste tu contraseña?
      </a>
    </div>
  </div>
</ion-content>
