<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar Sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="login">
    <input id="user" type="text" placeholder="usuario">
    <input id="contraseña" type="password" placeholder="contraseña" >
    <button id="button">Iniciar Sesion</button>
  </div>
  </div>
</ion-content>
